@import "lib/bourbon/bourbon"
@import "lib/neat/neat"
@import "base/base"
@import "mediaQueries/mediaQ"

body
	margin: 0

.moveToCenter
	text-align: center

.whiteLogoToCenter
	margin-right: 5%
	
.desctopMenu
	display: block

.mobileMenu
	display: none

.logoDisplay
	display: none

.whiteColor
	color: white

.fontSize
	font-size: 13px
	font-weight: 400

.designDropBox
	float: right
	margin: 0px
	font-size: 16px
	padding-bottom: 3px
	margin-top: 37px
	text-transform: uppercase
	font-weight: 600
	margin-right: 4px
	margin-left: 4px

.setBackground
	background-image: url(../images/bg3.jpg)
	background-size: cover
	background-repeat: no-repeat
	height: 101vh
	@include clearfix


.setOpacityForBackground
	height: 100vh 	 
	background-color: rgba(44, 80, 218, 0.25)



.setFotherBackground
	background-image: url(../images/bg3.jpg)
	background-size: cover
	background-repeat: no-repeat
	height: 100vh
	@include clearfix


nav
	background-image: url(../images/overlay.png)
	position: scroll
	width: 100%
	z-index: 99
	-webkit-backface-visibility: hidden
	height: 95px

.toCenter
	float: right
	outline : 0
	width: 80%
	display: inline
	padding-left: 50px
	border-right-width: 0px
	margin-right: 120px


.logo
	margin-top: 12px
	box-sizing: initial
	float: left

.navBar
	float: right
	color: #2980f7
	margin: 7px
	padding: 3px
	font-size: 17px
	padding-bottom: 3px
	margin-top: 55px
	text-transform: uppercase
	font-weight: 600
	margin-right: 4px
	margin-left: 4px

.navBar
	&:nth-child(2)
		margin-top: 50px
 
.color
	color: #f25468

.toTop
	@include outer-container
	@include span-columns(6)
	@include shift(3)
	margin-top: 40px
	max-width: 64em
	text-align: center
	margin-bottom: 3em
	text-align: center
	margin-left: 25%

.heroText
	font-weight: bolder
	color: white
	font-size: 60px

.heroIcon
	@include span-columns(3)
	@include omega(4n)
	margin-right: 0px
	margin-top: 3%

.heroIcon
	img
		width: 48px
		height: 51px

.heroIcons
	width: 100%

.getStartedButton
	padding: 1em 4em
	margin-top: 55px
	margin-right: 30px

.smart
	margin-top: 90px
	margin-right: 10px

.workSection
	@include outer-container
	margin-top: 2%
	margin-bottom: 7%
	img
		float: right
		margin-right: 19%

.iphoneSection
	@include span-columns(6)

.infoBlock
	@include span-columns(6)

.studyText
	color: #7b7b7b
	font-weight: inherit
	font-size: 1.3em
	margin-top: 40px
	margin-bottom: 10px

.appInform
	color: #333333
	font-size: 3em
	font-weight: 800
	margin-bottom: 25px

.aboutText
	color: #7b7b7b
	font-size: 16px
	font-weight: inherit

.topToText
	margin-top: 35px

.quotes
	display: inline-block
	width: 45px
	img
		margin-bottom: 29px
		width: 65%

.quotesText
	display: inline-block
	width: 90%
	color: #7b7b7b
	font-weight: normal

.user
	margin-top: 15px
	margin-left: 48px
	color: #666666
	font-weight: 700
	span
		color: #7b7b7b
		font-weight: normal

.learnMore
	color: #5293f9
	font-weight: 700
	margin-top: 20px
	font-size: 13px
	cursor: pointer
	&:hover
		color: #f25468

.centered
	display: inline

.wrapp
	@include outer-container
	@include span-columns(10)
	margin-left: 10%
	margin-top: 5%


.newGetStartedPosition
	text-align: center

.whiteLogo
	display:inline-block
	margin: 0 auto
	width: 68px
	height: 68px

.helpText
	color: #ffffff
	text-align: center
	font-size: 21px
	margin-top: 60px

.contacts
	color: #ffffff
	text-align: center
	line-height: 10px
	margin-top: 120px
	font-size: 12px
	margin-bottom: 40px

.copyright
	@include span-columns(6)
	text-align: left
	color: white
	font-weight: bold
	list-style-image: none	
	width: 50%

.navFother
	float: right
	color: #2980f7
	font-size: 17px
	text-transform: uppercase
	font-weight: 600
	margin-right: 4px
	margin-left: 4px
	margin-bottom: 15px


.dropdown
	$base-border-color: gainsboro !default
	$base-border-radius: 3px !default
	$base-line-height: 1.5em !default
	$base-background-color: rgba(44, 80, 218, 0.25) !default
	$dark-gray: #333333 !default
	$large-screen: em(860) !default
	$base-font-color: white
	$dropdown-color: white
	$dropdown-description-color: lighten(white, 40%)
	$dropdown-border: 1px solid silver
	$dropdown-background: rgba(49, 106, 190, 1)
	$dropdown-background-hover: darken(rgba(242, 242, 153, 0.2), 3%)
	$dropdown-inner-border: 1px solid silver
	$dropdown-height: 40px
	$dropdown-padding: 1em
	$dropdown-distance-from-menu: 50px
	$dropdown-arrow-top-distance: 0px
	line-height: $base-line-height
	.dropdown-container
		display: inline-block
		position: relative
		text-align: center
	.dropdown-description
		background: $dropdown-background
		color: $dropdown-description-color
		border-right-style: solid
		border-right-width: 1px
		float: left
		line-height: $dropdown-height
		margin: 0
		padding: 0 $dropdown-padding / 2 0 $dropdown-padding
		+media($large-screen)
		font-size: 0.9em
		font-weight: 400
	.dropdown-button
		background: $dropdown-background
		color: rgba(22, 111, 241, 1)
		cursor: pointer
		float: right
		font-size: 0.7em
		font-weight: 400
		line-height: $dropdown-height
		margin-top: 2px
		margin: 0
		padding: 0 $dropdown-padding * 2.5 0 $dropdown-padding / 2
		position: relative
		+media($large-screen)
			font-size: 1em
			padding: 0 $dropdown-padding * 2.5 0 $dropdown-padding / 2
	.dropdown-button:hover
		background-color: $dropdown-background-hover
	.dropdown-button:after
		color: $base-font-color
		content: "\25BE"
		display: block
		position: absolute
		right: $dropdown-padding
		top: $dropdown-arrow-top-distance
	.dropdown-menu
		+transition(all 0.2s ease-in-out)
		background: $dropdown-background
		border-radius: $base-border-radius
		border: $dropdown-border
		box-shadow: 0 2px 2px transparentize(black, 0.8)
		color: $dropdown-color
		cursor: pointer
		display: none
		margin: 0
		overflow: show
		padding: 0
		position: absolute
		right: 0
		top: $dropdown-distance-from-menu
		width: 140px
		z-index: 99999
		&:before
			+position(absolute, 0 1em 0 0)
			color: $dropdown-background
			content: "\25b2"
			font-size: 1.4em
			pointer-events: none
			text-shadow: 0 -2px 2px transparentize(black, 0.7)
			top: -1.15em
	.dropdown-menu li
		border-bottom: $dropdown-inner-border
		color: $dropdown-color
		list-style: none
		padding: $dropdown-padding / 2
	.dropdown-menu li:hover
		background: $dropdown-background-hover
	.dropdown-menu li:first-child
		border-top-left-radius: $base-border-radius
		border-top-right-radius: $base-border-radius
	.dropdown-menu li:last-child
		border: none
		border-bottom-left-radius: $base-border-radius
		border-bottom-right-radius: $base-border-radius
	.show-menu
		display: block

//////////// close

@media screen and (max-width: 1172px)
	.heroText
		font-size: 50px
		margin-top: 25px

	.copyright
		font-size: 14px
	.navFother
		font-size: 14px


@media screen and (max-width: 980px)
	.navBar
		font-size: 13px

	.heroText
		font-size: 45px
		margin-top: 20px

	.smart
		margin-top: 130px

	.navBar
		&:nth-child(2)
			margin-top: 45px

	.copyright
		width: 100%
		text-align: center
		
	.navFother
		text-align: center
		margin-right: 30px
		margin-top: 5px

	.quotesText
		width: 70%

	.designFother
		display: inline-block
		height: 60px
		width: 480px


@media screen and (max-width: 880px)
	.smart
		margin-top: 80px

@media screen and (max-width: 720px)
	.heroText
		font-size: 40px
		margin-top: 135px
		
	.desctopMenu
		display: none

	.mobileMenu
		display: inline-block

	.iphoneSection
		display: none

	.infoBlock
		width: 95%
		margin: 0%
		margin-right: 5%
		margin-left: 5%

	.heroIcons
		display: inline-block
		text-align: center
		width: 400px
		margin-left: -10%

	.navFother
		display: none

	nav
		position: fixed
		

@media screen and (max-width: 520px)
	.heroText
		font-size: 26px

	.logo
		display: none

	.designDropBox
		display: inline-block
		margin: 0 auto
		margin-top: 27px

	.heroIcons
		width: 300px
		margin-left: -20%

	.getStartedButton
		margin-top: 110px

	.appInform
		font-size: 40px

	.studyText

	.aboutText
		width: 95%

	.quotes
		img
			margin-bottom: 56px
	